[Unit]
Description=Registrierkassa App
After=network.target

[Service]
Type=simple
User=<YOUR_USERNAME>
WorkingDirectory=/path/to/registrierkassa
Environment="PATH=/home/linuxbrew/.linuxbrew/bin:/usr/local/bin:/usr/bin:/bin"
Environment=PORT=1235
Environment=HOSTNAME=0.0.0.0
ExecStart=/path/to/node/or/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target
